<h1>Disclaimer</h1>

<H5>The Portland Scavenger Hunt is not responsible for any injuries or conflicts that occur during your hunt. <br><br>For example: you have the option to sample the beers on the beer quest OR just have eight pints! Or just do the tree hunt, you crazy kids. <br><br>Responsible hunting is fun hunting!</H5>