
<h1>How does it work?</h1>
<hr/>

<h3>How to start your quest:</h3>

<div id = "home" >
    <ol>
        <li><h5>Click the "let's play" button on the home page.</h5></li>
        <li><h5>Choose your adventure!</h5></li>
        <li><h5>Each quest has its own rules and quest items.</h5></li>
        <li><h5>HAVE FUN! 😊</h5></li>
    </ol>
</div>



