@{
    ViewData["Title"] = "Home Page";
}

<h1> Welcome to T-Rex's Scavenger Hunt! </h1>

<hr/>

<h2>@Html.ActionLink("How does it work?", "How")</h2>
<h2>@Html.ActionLink("Rules", "Rules")</h2>
<h2>@Html.ActionLink("Disclaimer", "Disclaimer")</h2>

<hr/>

<div class="card">
</div>

<hr/>

<button type="button" class="play-button">@Html.ActionLink("Lets Play!", "Index", "Quests")</button>

