<h1>Rules</h1>

<ul>
    <li>Stay within the bounds of the map.</li>
    <li>Check the boxes as you complete each quest item.</li>
    <li>Must complete hunt within allotted time.</li>
    <li>HAVE FUN!!!!</li>
</ul>