@using ScavengerHunt.Models;
@model IEnumerable<ScavengerHunt.Models.Quest>


<h1>Welcome to The Scavenger Hunt!</h1>
<h2>Choose your adventure</h2>
<hr/>
@if (Model.Any())
{
  <div class="row">
    
      @foreach (Quest quest in Model)
      {
        <div id="quest-items" class = "col-md-3">
          <h3>@Html.ActionLink($"{quest.Name}", "Details", new { id = quest.QuestId })</h3>
        </div>
      }
    
  </div>
} 
else
{
  <h3>No quests have been added yet!</h3>
}
